/*
  Local fonts: apercu, apercu-mono
*/
@font-face {
  font-family: 'apercu';
  src: url('/src/fonts/Apercu-Light.woff') format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'apercu';
  src: url('/src/fonts/Apercu-Regular.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'apercu';
  src: url('/src/fonts/Apercu-Medium.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'apercu';
  src: url('/src/fonts/Apercu-Bold.woff') format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'apercu-mono';
  src: url('/src/fonts/Apercu-Mono.woff') format('woff');
  font-weight: 400;
}
